* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #003554;
  }
  
  .container {
    background-color: #9EB3C2;
    padding: 2rem;
    border-radius: 1rem;
    width: 30vw;
    height: 56vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .container h2 {
    font-size: 3rem;
    text-align: center;
  }
  
  form {
    margin: 2rem 0 1rem 0;
  }
  
  form select, button, input {
    width: 100%;
    border: none;
    background-color: #fff;
    outline: none;
    border-radius: 1rem;
  }
  
  .amount label {
    font-size: 2rem;
  }

  .amount span {
    font-size: 2rem;
  }

  form select {
    background-color: transparent;
  }
  
  form input {
    width: 100%;
    border: 1px solid lightgray;
    font-size: 1.7rem;
    height: 3.5rem;
    padding: 0 0 0 0;
    margin: 1.2rem 0 0.5rem 0;
    /* text-align: center; */
    border-radius: 10px;
  }
  
  .drop-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  
  .drop-down i {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  .select-container img{
    max-width: 2rem;
  }
  
  .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
  }
  
  .select-container select {
    font-size: 1rem;
    width: auto;
  }
  
  .msg {
    margin: 3rem 0 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
  }
  
  form button {
    height: 3rem;
    background-color: #2B0504;
    color: lightgray;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s all ease;
  }

  form button:hover {
    background-color: #874000;
    color: #D8973C;
  }

  @media screen and (max-width: 480px){    
    .container {
      background-color: #9EB3C2;
      padding: 2rem;
      border-radius: 1rem;
      width: 80vw;
      height: 55vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .container h2 {
      font-size: 2rem;
    }
    .amount {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    .amount label {
      font-size: 1.2rem;
      text-align: center;
    }  
    form input {
      width: 100%;
      border: 1px solid lightgray;
      font-size: 1.3rem;
      height: 1.5rem;
      padding: 0 0 0 0;
      margin: 1.2rem 0 0.5rem 0;
      padding: 8px;
      border-radius: 10px;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 720px){    
    .container {
      background-color: #9EB3C2;
      padding: 2rem;
      border-radius: 1rem;
      width: 80vw;
      height: 55vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .container h2 {
      font-size: 2.1rem;
    }
    .amount label {
      font-size: 1.3rem;
      text-align: center;
    }
    .amount {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    form input {
      width: 100%;
      border: 1px solid lightgray;
      font-size: 1.7rem;
      height: 1.5rem;
      margin: 1.2rem 0 0.5rem 0.5rem;
      padding: 8px;
      border-radius: 10px;
    }
    .msg{
      font-size: 1.5rem;
    }
  }

  @media screen and (min-width: 721px) and (max-width: 1023px){    
    .container {
      background-color: #9EB3C2;
      padding: 2rem;
      border-radius: 1rem;
      width: 50vw;
      height: 55vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
    }
    .container h2 {
      font-size: 2.5rem;
    }
    .amount label {
      font-size: 1.5rem;
      text-align: center;
    }
    .amount span {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
    }
    .amount {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    form input {
      width: 100%;
      border: 1px solid lightgray;
      font-size: 1.3rem;
      height: 2rem;
      margin: 1.2rem 0 0.5rem 0.5rem;
      padding: 8px;
      border-radius: 10px;
    }
    .msg{
      font-size: 1.5rem;
    }
  }



@media screen and (max-height: 480px) and (orientation: landscape){
  body {
    width: 100vw;
    height: 150vh;
  }
  .container {
    width: 80%;
    height: 75%;
  }
  .container h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px){    
  .container {
    background-color: #9EB3C2;
    padding: 2rem;
    border-radius: 1rem;
    width: 50vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  .container h2 {
    font-size: 3rem;
  }
  .amount label {
    font-size: 2rem;
    text-align: center;
    width: 80%;
  }
  .amount {
    width: 100%;
  }
  .amount span {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
  .amount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  form input {
    width: 100%;
    border: 1px solid lightgray;
    font-size: 1.3rem;
    height: 2rem;
    margin: 1.2rem 0 0.5rem 0.5rem;
    padding: 8px;
    border-radius: 10px;
  }
  .msg{
    font-size: 1.5rem;
  }
}